:root {
  --aside-width: 400px;
  --mobile-header-height: 160px;
  --header-height: 200px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  /* --header-height: 64px; */
  --color-dark: #000;
  --color-light: #fff;
  --color-creme: #f1f0e4;
  --blue: #1d428a;
  --creme: #f1f0e4;
  --yellow: #ffc72c;
  --green: #7bba76;
  --red: #da291c;
  --scarlet: #d44424;
  --loc-grid-item-title-container-align-items: center;
  --loc-grid-item-title-container-flex-direction: row;
  --add-to-cart-marginLeft: clamp(69px, 14vw, 115px);
  --add-to-cart-marginLeft-added: clamp(100px, 20vw, 169.6px);
}

strong {
  font-family: 'HAL-BOLD';
}
img {
  border-radius: 4px;
}

@font-face {
  font-family: 'HAL';
  src: url('../assets/fonts/HALFourGrotesk-Regular.otf');
}

@font-face {
  font-family: 'HAL-BOLD';
  src: url('../assets/fonts/halbold.otf');
}

body {
  font-family: 'HAL' !important;
  background-color: var(--creme);
}

main {
  margin-top: var(--header-height) !important;
}
/*
* --------------------------------------------------
* Non anchor links
* --------------------------------------------------
*/
.link:hover {
  /* text-decoration: underline; */
  cursor: pointer;
}

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
aside {
  background: var(--color-light);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: 100vh;
  max-width: var(--aside-width);
  min-width: var(--aside-width);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 200ms ease-in-out;
}

aside header {
  align-items: center;
  border-bottom: 1px solid var(--color-dark);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;
}

aside header h3 {
  margin: 0;
}

aside header .close {
  font-weight: bold;
  opacity: 0.8;
  text-decoration: none;
  transition: all 200ms;
  width: 20px;
}

aside header .close:hover {
  opacity: 1;
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside main {
  margin: 1rem;
}

aside p {
  margin: 0 0 0.25rem;
}

aside p:last-child {
  margin: 0;
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 400ms ease-in-out;
  transition: all 400ms;
  visibility: hidden;
  z-index: 10;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay.expanded {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
/* reveal aside */
.overlay.expanded aside {
  transform: translateX(calc(var(--aside-width) * -1));
}

button.reset {
  border: 0;
  background: inherit;
  font-size: inherit;
}

button.reset > * {
  margin: 0;
}

/* button.reset:not(:has(> *)) {
  height: 1.5rem;
  line-height: 1.5rem;
}

button.reset:hover:not(:has(> *)) {
  text-decoration: underline;
  cursor: pointer;
} */

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  font-family: 'HAL-BOLD';
  font-size: clamp(28.5px, 5.65vw, 48px);
}

.header-menu-mobile-toggle {
  @media (min-width: 48em) {
    display: none;
  }
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

.header-menu-desktop {
  display: none;
  grid-gap: 1rem;
  @media (min-width: 45em) {
    display: flex;
    grid-gap: 1rem;
    margin-left: 3rem;
  }
}

.header-menu {
  display: flex;
  gap: 6.9px;
  flex-wrap: wrap;
  width: 831px;
  padding-left: 1rem;
  padding-top: 1rem;
  pointer-events: auto;
}

.header-menu-item-container {
  background: var(--green);
  border-radius: 14px;
}
.header-menu-item-container:nth-of-type(2),
.header-menu-item-container:nth-of-type(7) {
  background: var(--red);
}
.header-menu-item-container:nth-of-type(3),
.header-menu-item-container:nth-of-type(5) {
  background: var(--blue);
}
.header-menu-item-container:nth-of-type(4),
.header-menu-item-container:nth-of-type(6) {
  background: var(--yellow);
}
.header-menu-item {
  cursor: pointer;
  color: var(--color-creme);
  padding: 0.25rem 0.85rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  box-sizing: border-box;
}

.header-ctas {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  margin-left: auto;
}

/*
* --------------------------------------------------
* components/Hours
* --------------------------------------------------
*/
.hours-container {
  text-align: right;
  width: fit-content;
  padding-top: 1rem;
  padding-right: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  font-family: 'HAL';
}

.hours-container p {
  color: var(--color-creme);
  font-size: 11px;
  transition: border-color 1s ease-in-out, color 1s ease-in-out;
}
.hours-container p:first-of-type {
  padding-bottom: 0.25rem;
}
.hours-container p:last-of-type {
  padding-top: 0.5rem;
  border-top: 1px solid var(--color-creme);
}

/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
footer.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  pointer-events: none;
  font-size: 11px;
  font-family: 'HAL';
  color: var(--blue);
}

.footer-left {
  width: 50%;
  display: flex;
  align-items: flex-end;
  padding: 1rem;
  pointer-events: auto;
}

.footer-left p {
  margin: 0;
  color: var(--blue);
  font-size: 11px;
  font-family: 'HAL';
}

.footer-right {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  pointer-events: auto;
  font-family: 'HAL';
}

.footer-right .clock {
  text-align: left;
  font-size: 11px;
  font-family: 'HAL';
  transition: color 1s ease-in-out;
}

.footer-right .links {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.footer-right .links button,
.footer-right .links a,
.footer-right .links a:visited {
  text-decoration: none;
  font-family: 'HAL';
  color: var(--blue);
  transition: color 1s ease-in-out;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  font-size: 11px;
}

.footer-right .links a:hover {
  /* text-decoration: underline; */
}

.links-mobile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 0.75rem;
}
.mobile-footer {
  display: none;
}

.footer-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-container {
  display: flex;
  width: 60%;
  border-radius: 14px;
  overflow: hidden;
  background: var(--blue);
  position: relative;
}
.subscribe-container > div {
  width: 50%;
}
.subscribe-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.subscribe-footer-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-creme);
}
.subscribe-footer-form-container > button {
  position: absolute;
  top: 15px;
  right: 10px;
  border: none;
  background: transparent;
  color: var(--color-creme);
  font-size: 12px;
  cursor: pointer;
}
.subscribe-form-container {
  max-width: 334px;
  display: flex;
  flex-direction: column;
  gap: 29px;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;
}
.subscribe-form-container > div:first-of-type {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.subscribe-form-container > div > * {
  margin: 0;
}
.subscribe-form-container h2 {
  font-size: clamp(28.5px, 3vw, 48px);
  font-family: 'HAL-BOLD';
  line-height: clamp(28.5px, 3vw, 48px);
}
.subscribe-form-container p {
  font-size: clamp(10px, 1vw, 12px);
}
.subscribe-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.subscribe-form > * {
  width: 100%;
  border-radius: 14px;
  padding: 10px;
  border: 1px solid var(--color-creme);
  box-sizing: border-box;
  text-align: center;
  font-size: clamp(10px, 1vw, 12px);
}
.subscribe-form > input,
.subscribe-form > input::placeholder {
  background: transparent;
  color: var(--color-creme);
}
.subscribe-form > input:focus::placeholder {
  color: transparent;
}
.subscribe-form > button:disabled {
  cursor: auto;
}
.subscribe-form > button {
  cursor: pointer;
}

/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  height: 100%;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;
}

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}
.cart-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1160px;
  margin: auto;
  gap: 12px;
}
.cart-lines {
  display: grid;
  grid-template-columns: 0.75fr 2.5fr 0.5fr;
  grid-template-rows: 1fr;
  width: 100%;
  max-width: 712px;
  background: var(--blue);
  border-radius: 14px;
  padding: 1.5rem;
  color: var(--color-creme);
  box-sizing: border-box;
}
.cart-details * {
  font-size: 12px;
  font-family: 'HAL';
}
.cart-lines-ul,
.cart-line {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/4;
}
.cart-lines-ul {
  margin-top: 0.5rem;
}
.cart-line {
  padding: 1.25rem 0;
  border-top: 1px solid var(--color-creme);
  margin-top: 0.25rem;
  margin-bottom: 0;
  height: 10rem;
}
.cart-line:last-of-type {
  padding-bottom: 0;
}

.cart-line img {
  height: 100%;
  display: block;
  width: 95%;
  border-radius: 7px;
}
.cart-item-column,
.cart-total-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart-line-quantity {
  gap: 11px;
  align-items: center;
}
.cart-line-quantity small {
  font-family: 'HAL-BOLD';
}
.cart-total-column {
  align-items: flex-end;
}
.cart-line button {
  background: transparent;
  cursor: pointer;
  color: var(--color-creme);
  box-shadow: none;
  border: 1px solid transparent;
  transition: border 0.2s ease-in-out, text-decoration 0.2s ease-in-out;
  border-radius: 4px;
}
.cart-line-update-btn:hover {
  border: 1px solid var(--color-creme);
}
.remove-btn:hover {
  /* text-decoration: underline; */
  /* border-bottom: 1px solid var(--color-creme); */
}

.cart-summary-page {
  width: 100%;
  max-width: 436px;
  border: 1px solid var(--blue);
  border-radius: 14px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--blue);
  box-sizing: border-box;
}

.cart-summary-aside {
  background: var(--color-creme);
  border-top: 1px solid var(--color-dark);
  bottom: 0;
  padding-top: 0.75rem;
  position: absolute;
  width: calc(var(--aside-width) - 40px);
}

.cart-line-quantity {
  display: flex;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}
.cart-summary-page dl {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.cart-subtotal {
  align-items: center;
  display: flex;
}
.cart-total * {
  font-family: 'HAL-BOLD';
}
.cart-summary-page a {
  background: var(--blue);
  color: var(--color-creme);
  display: block;
  width: 100%;
  padding: 1rem 0;
  border-radius: 14px;
  text-align: center;
}
.cart-empty {
  width: 100%;
  margin-top: 25vh;
  text-align: center;
  font-size: 24px;
  color: var(--blue);
}
.custom-link,
.cart-empty p {
  font-size: 24px;
  font-family: 'HAL';
  line-height: 1.5rem;
  color: var(--blue) !important;
}
.custom-link {
  text-decoration: underline;
  color: inherit;
}

.custom-link:visited {
  color: inherit;
}

/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/
.predictive-search {
  height: calc(100vh - var(--header-height) - 40px);
  overflow-y: auto;
}

.predictive-search-form {
  background: var(--color-light);
  position: sticky;
  top: 0;
}

.predictive-search-result {
  margin-bottom: 2rem;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

.search-results-item a {
  display: flex;
  flex: row;
  align-items: center;
  gap: 1rem;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/
.home {
  position: fixed;
  inset: 0;
  background: var(--blue);
  display: flex;
}
.home-left,
.home-right {
  width: 50%;
}
.home-mobile {
  width: 100%;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  flex-direction: column;
}

.carousel-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 0;
}

.announcement-container {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background: var(--color-creme);
  color: var(--blue);
  border-radius: 14px;
  width: 325px;
  max-width: 40vw;
  padding: 1rem;
  pointer-events: none;
}

.announcement-container p:first-of-type {
  font-size: 9px;
  font-family: 'HAL-BOLD';
}
.announcement-container h3 {
  font-size: 18px;
  font-family: 'HAL-BOLD';
}
.announcement-container p:last-of-type {
  font-size: 12px;
}

.featured-collection {
  display: block;
  margin-bottom: 2rem;
  position: relative;
}

.featured-collection-image {
  aspect-ratio: 1 / 1;
  @media (min-width: 45em) {
    aspect-ratio: 16 / 9;
  }
}

.featured-collection img {
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.recommended-products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  @media (min-width: 45em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.recommended-product img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collections-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.collection-item img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.products-grid {
  display: grid;
  grid-gap: clamp(5px, 1vw, 12px);
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 2rem;
}

.product-item {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.image-container {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.product-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}

.product-info {
  margin-top: 0.5rem;
  font-family: 'HAL';
}

.product-item p,
.product-item small {
  margin: 0;
  color: var(--blue);
  font-size: 12px !important;
}

.product-item small {
  font-family: 'HAL-BOLD';
}

@media (max-width: 1200px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .products-grid {
    grid-template-columns: (2, 1fr);
  }
  .image-container {
    height: 280px;
  }
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product-page {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
  /* overflow: hidden; */
}

.product-main {
  margin-top: var(--header-height);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-box {
  background-color: var(--blue);
  color: var(--color-creme);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  align-items: flex-start;
  border-radius: 10px;
}
.product-box p {
  font-size: 12px;
}
.product-price {
  font-family: 'HAL-BOLD';
  font-size: 24px;
}
.product-price div {
  font-family: 'HAL-BOLD';
}
.product-description {
  margin-bottom: 1rem;
}
.product-description p {
  font-size: 12px;
}
.product-details {
  margin-top: 1.5rem;
}
.product-details div {
  font-size: 12px;
}
.product-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: 'HAL-BOLD';
  font-size: 24px !important;
  margin-bottom: 1rem;
}
.product-form,
.product-form > form {
  width: 100%;
}
.product-header p {
  font-family: 'HAL-BOLD';
  font-size: 24px !important;
}
.product-sizes {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 1rem; */
}
.size-buttons {
  display: flex;
  gap: 10px;
}
.size-buttons button {
  margin-top: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: transparent;
  color: var(--color-creme);
  border: 1px solid var(--color-creme);
  border-radius: 5px;
  cursor: pointer;
  font-family: 'HAL', sans-serif;
  font-size: 12px;
}
.size-buttons button.selected {
  background-color: var(--color-creme);
  color: var(--blue);
}
.product-confirm {
  width: 100%;
  margin-top: 2rem;
}
.product-confirm button,
#add-to-cart-btn {
  padding: 1.25rem;
  width: 100%;
  background-color: transparent;
  color: var(--color-creme);
  border: 1px solid var(--color-creme);
  border-radius: 5px;
  cursor: pointer;
  font-family: 'HAL-BOLD', sans-serif;
  font-size: 12px;
}
#add-to-cart-btn:disabled {
  cursor: auto;
}
.product-confirm button.selected {
  background-color: var(--color-creme);
  color: var(--blue);
}

.product-images {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}
.product-images::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.product-images > div {
  height: 100vh;
  scroll-snap-align: start;
}

.product-image img {
  object-fit: cover;
  height: 100vh;
  width: 100%;
  border-radius: 0 !important;
}

.product-image-placeholder {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4f4;
  color: #888;
  font-size: 1.2rem;
}
.mapped-indicators {
  display: none;
}
.circle {
  width: 0.5em !important;
  height: 0.5em !important;
  border-radius: 50%;
  display: inline-block;
}

/*
* --------------------------------------------------
* info
* --------------------------------------------------
*/

.info {
  position: fixed;
  inset: 0;
}

.info-background {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover; /* Ensures the image covers the screen without distortion */
  top: 0;
  left: 0;
}

.info-announcement-container {
  position: absolute;
  bottom: 2.5rem;
  left: 1rem;
  background: var(--blue);
  color: var(--creme);
  border-radius: 14px;
  width: 325px;
  max-width: 40vw;
  padding: 1rem;
}

.info-announcement-container p {
  font-size: 12px;
  font-family: 'HAL';
}
.info-announcement-container h3 {
  font-size: 18px;
  font-family: 'HAL-BOLD';
}
.info-announcement-container a,
.info-announcement-container a:visited {
  color: inherit;
}

/*
* --------------------------------------------------
* order/cater
* --------------------------------------------------
*/

.order-cater-text-container > p,
.oc-link {
  font-family: 'HAL';
  font-size: 12px;
  color: var(--blue);
}

.location-item {
  font-family: 'HAL-BOLD';
  margin-top: 1rem;
  display: flex;
}
.location-item p:first-of-type {
  padding: 0.25rem 1rem;
  font-size: clamp(1px, 10vw, 130px);
  background-color: var(--blue);
  border-radius: 14px;
  color: var(--creme) !important;
  width: fit-content;
}
.location-item p:nth-of-type(2) {
  padding: 0.5rem 1rem;
  font-size: clamp(8.85px, 1.77vw, 12px);
  background-color: var(--blue);
  border-radius: 14px;
  color: var(--creme) !important;
  width: fit-content;
  height: fit-content;
  margin-left: 0.75rem;
  font-family: 'HAL' !important;
}
.location-item-mobile {
  margin-top: 0.25rem;
  display: flex;
  font-family: 'HAL-BOLD';
}
.mobile-location {
  font-size: 3rem;
  border-radius: 14px;
  padding: 0.5rem 0.5rem;
}
.mobile-address {
  font-size: 0.75rem !important;
  padding-left: 0.25rem;
  margin-top: -0.25rem;
  font-family: 'HAL';
  line-height: 0.8rem;
}
/*
* --------------------------------------------------
* routes/location
* --------------------------------------------------
*/
.locations-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 1rem;
  margin: 0 auto; /* Centers the grid on the page */
}
@media (max-width: 965px) {
  .locations-grid {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}
@media (max-width: 645px) {
  .locations-grid {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}

.location-grid-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 14px;
  background-color: var(--blue); /* Ensures the background is white */
  color: var(--color-creme);
  overflow: hidden; /* Clips overflowing content */
  aspect-ratio: 6/5;
}
.location-grid-item-bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.location-grid-item-title-container {
  display: flex;
  flex-direction: var(--loc-grid-item-title-container-flex-direction);
  justify-content: space-between;
  align-items: var(--loc-grid-item-title-container-align-items);
}

.location-grid-item-title-container {
  padding-inline: 1rem;
}
.location-grid-item h5 {
  font-size: clamp(36px, 2.95vw, 48px);
  margin: 0;
  font-family: 'HAL-BOLD';
}
.location-grid-item-title-container > p {
  font-size: 12px;
}

.location-grid-item-bottom-container {
  text-align: center;
  border-top: 1px solid var(--color-creme);
}
.location-grid-item-bottom-container > * {
  padding: 0.5rem 1rem;
  width: 33%;
  text-wrap: nowrap;
  font-size: 12px;
  line-height: 1.4;
  color: var(--color-creme);
}
.location-grid-item-bottom-container > a:first-of-type {
  border-right: 1px solid var(--color-creme);
}
.location-grid-item-bottom-container > p {
  border-left: 1px solid var(--color-creme);
}

.media-viewer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 620px; /* Adjust based on your layout needs */
  height: 100%;
  overflow: hidden;
}

.media-element {
  border-radius: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures content fits nicely */
}

.media-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Fallback height for placeholder */
  text-align: center;
  font-size: 1rem;
  color: var(--color-creme);
  padding: 1rem;
  border-bottom: 1px solid var(--color-creme);
}
/*
* --------------------------------------------------
* routes/menu
* --------------------------------------------------
*/

.menu-grid {
  max-width: 1044px;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 1rem;
  margin: 0 auto; /* Centers the grid on the page */
}
.menu-grid > * {
  border: 1px solid var(--blue);
  color: var(--blue);
  border-radius: 16px;
  padding: 1rem;
  /* width: 100%;
  height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.fish-and-spreads,
.bagels {
  gap: 1rem;
}
.bagels h4 {
  font-size: 32px;
}
.sandwiches {
  grid-column: 1/3;
  text-align: left;
}
.sandwiches > p {
  margin-top: 1rem;
  border: 1px solid var(--blue);
  border-radius: 14px;
  padding: 0.125rem 0.5rem;
}
.menu-grid h5 {
  font-size: 22px;
  margin-top: 0;
}

/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/

.account-logout {
  display: inline-block;
}
@media (max-width: 57.5em) {
  body > .hours-container {
    display: none;
  }
  .hours-container {
    position: static;
    color: var(--color-creme);
    text-align: center;
    padding: 0;
  }
  .announcement-container {
    padding: 1rem;
    margin-bottom: 1.25rem;
  }
  .info-announcement-container {
    padding: 1rem;
    margin-bottom: 0;
  }
  .clock {
    display: none;
  }
  .footer-left {
    width: 0;
    padding: 0;
    display: none;
  }
  .footer-right {
    width: 100%;
    padding: 0;
  }
  .footer-right .links {
    width: calc(100% - 2rem);
    justify-content: space-between;
    gap: 0;
    margin: auto;
    margin-bottom: 0.75rem;
  }
  .mobile-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: var(--red); */
    font-family: 'HAL';
    gap: 3rem;
    padding-block: 2rem;
    border-radius: 14px;
    width: calc(100% - 2rem);
    left: 1rem;
    pointer-events: auto;
    z-index: 10;
    position: fixed;
    top: 100dvh;
  }
  .mobile-footer img {
    max-width: 50vw;
  }
  .mobile-footer-bottom {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
  }
  .mobile-footer-links {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  .mobile-footer-bottom a,
  .mobile-footer-links a,
  .mobile-footer-bottom button {
    color: var(--color-creme);
    font-size: 12px;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
  }
  .mobile-footer-bottom p {
    color: var(--color-creme);
    opacity: 0.5;
    font-size: 10px;
  }
}

/* @media (max-width: 837px) {
  .header-menu {
    width: calc(100% - 2rem);
  }
  .header {
    font-size:  clamp(29.5px, 5.9vw, 48px);
  }
} */
@media (max-width: 999px) {
  .product-page {
    flex-direction: column;
    position: static !important ;
    gap: -0.5rem;
    align-items: center;
    max-width: calc(999px * 0.5 + 2rem);
    margin: auto !important;
    height: auto;
  }
  .product-images {
    width: 100%;
    /* height: 69vh; */
    position: relative;
    flex-direction: row;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    align-items: flex-end;
  }
  .product-images > div {
    height: auto;
  }
  .product-image img {
    width: calc(100vw - 2rem) !important;
    max-width: calc(999px * 0.5 + 2rem);
    aspect-ratio: auto !important;
    height: auto !important;
    border-radius: 14px !important;
  }
  .mapped-indicators {
    display: flex;
  }
  .product-main {
    margin-top: 0;
    width: 100%;
  }
  .product-box {
    box-sizing: border-box;
    width: 100%;
  }
}
@media (max-width: 837px) {
  .header-menu {
    width: calc(100vw - 2rem);
  }
  .header-menu {
    gap: clamp(3.915px, 0.75vw, 10px);
  }
  .header-menu-item {
    padding: clamp(1.5352px, 0.2941vw, 10px) clamp(5.22px, 1vw, 10px);
  }
  main {
    margin-top: var(--mobile-header-height) !important;
  }
  .subscribe-container {
    justify-content: center;
    padding: 2rem;
  }
  .subscribe-img-container {
    display: none;
  }
  .subscribe-container > div {
    width: auto;
  }
}
@media (max-width: 723px) {
  .announcement-container,
  .info-announcement-container {
    width: auto;
    max-width: none;
    right: 1rem;
  }
}
@media (max-width: 650px) {
  .cart-details {
    flex-direction: column;
    max-width: calc(100vw - 2rem);
    margin: 0;
  }
  .cart-summary-page {
    max-width: calc(100vw - 2rem);
  }
}
@media (max-width: 504px) {
  .header-menu {
    width: calc(100vw - 1rem);
  }
}
@media (max-width: 499px) {
  html,
  body,
  main {
    overscroll-behavior-y: none;
  }
  .header-menu-item-container:nth-of-type(4) {
    background: var(--red);
  }
  .header-menu-item-container:nth-of-type(7) {
    background: var(--yellow);
  }
  .header-menu {
    width: calc(100vw - 1rem);
    max-width: 352px;
  }
  .header-menu-item {
    padding: 1.5352px 6.72px;
  }
  .locations-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .location-grid-item-title-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .location-grid-item h5 {
    font-size: 43px;
  }
  .shop-page {
    margin-top: 1rem;
  }
  .products-grid {
    row-gap: 1.5rem;
  }
  .mobile-footer {
    gap: 1.5rem;
    padding-block: 1rem;
  }
  .mobile-footer-bottom {
    gap: 1rem;
  }
  .mobile-footer-links {
    gap: 0;
  }
  .subscribe-container {
    width: calc(100% - 2rem);
    box-sizing: border-box;
  }
  .subscribe-form-container p,
  .subscribe-form-container input,
  .subscribe-form-container button {
    font-size: 16px;
  }
  .subscribe-form {
    width: 100%;
  }
}
@media (max-width: 349px) {
  .header {
    font-size: 27px;
  }
  :root {
    --add-to-cart-marginLeft: 65px;
    --add-to-cart-marginLeft-added: 95px;
  }
}
@media (max-width: 800px) {
  .header-menu-item-container {
    border-radius: 13px;
  }
}
@media (max-width: 700px) {
  .header-menu-item-container {
    border-radius: 12px;
  }
}
@media (max-width: 600px) {
  .header-menu-item-container {
    border-radius: 12px;
  }
}
